/** @format */

.searchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.searchForm {
  height: 60px;
  width: 600px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  align-content: center;
  display: flex;
  padding-left: 10px;
}

.searchForm > input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 20px;
}
.searchForm > input:focus {
  outline: none;
}

.searchButton {
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  color: #ccc;
}
