/** @format */

.searchContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
}

.searchForm {
	height: 60px;
	width: 600px;
	border-radius: 25px;
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	align-content: center;
	display: flex;
	padding-left: 10px;
}

.searchForm > input {
	height: 100%;
	width: 80%;
	border: none;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}
.searchForm > input:focus {
	outline: none;
}

.searchButton {
	height: 100%;
	width: 20%;
	border: none;
	color: white;
	font-size: 25px;
	cursor: pointer;
	border: none;
	font-size: 25px;
	cursor: pointer;
	background-color: transparent;
	color: #ccc;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f9;
	background-image: linear-gradient(
		to right,
		#f6f7f9 0%,
		#e9ebee 20%,
		#f6f7f9 40%,
		#f6f7f9 60%,
		#f6f7f9 80%,
		#f6f7f9 100%
	);
	background-repeat: no-repeat;
	background-size: 45px 332px;
	height: 45px;

	width: 100%;
	position: relative;
}

.mainContainer {
	background-color: #fff;
}
@keyframes placeHolderShimmer {
	0% {
		background-position: -100% 0;
	}

	100% {
		background-position: 100% 0;
	}
}
