/** @format */

.StyledContainer {
	width: 100%;
	background-color: #cccccc38;
	padding: 20px;
}

.StyledWrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.StyledWrapper > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.StyledWrapper > ul > li {
	color: #808784;
	margin-top: 5px;
	cursor: pointer;
}
.StyledWrapper > a {
	color: #808784;
}

.StyledWrapper > p {
	color: #f6f6f9;
	font-size: 12px;
}
