/** @format */
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f8f8f9;
}

.page-wrapper {
	background: #ffffff;
	padding: 25px 16px;
	margin: 0 25px 25px 25px;
}

.page-container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.inner-container {
	width: 80%;
	padding: 2%;
}

.ant-table-tbody > tr > td,
.ant-table-cell {
	border: none !important;
}
